<h1>Eventos</h1>

<div class="row row-cols-lg-auto g-3 align-items-center">
  <div>
    <label class="visually-hidden" for="inlineFormInputGroupUsername"></label>
    <div class="input-group">
      <label class="mr-2">Filtro: </label>
      <input
      type="text"
       class="form-control"
       placeholder="buscar"
       [(ngModel)]="filtroLista"/>
    </div>
  </div>
</div>

<!-- <h6>Filtro: {{filtroLista}}</h6> -->
<hr>



<table class="table">
  <thead class="table-dark">
    <tr>
      <th>
        <button type="button" class="btn text-center btn-outline-light btn-sm"
          (click)="alterarImagem()" style="margin-left: 20%;">
          {{exibirImagem ? "Ocultar" : "Exibir"}}
              </button>
      </th>
      <th class="text-center" scope="col">#</th>
      <th class="text-center" scope="col">Tema</th>
      <th class="text-center" scope="col">Local</th>
      <th class="text-center" scope="col">Data</th>
      <th class="text-center" scope="col">Qtd Pessoas</th>
      <th class="text-center" scope="col">Lote</th>
      <th class="text-center" scope="col">Opções</th>
    </tr>
  </thead>
  <tbody *ngIf="eventos && eventos.length">
    <tr *ngFor="let evento of eventosFiltrados">

      <td class="text-center">
       <img [collapse]="exibirImagem"
       [isAnimated] = "true"
        src="/assets/{{evento.imagemURL}}"
        [style.width.px]="larguraImagem"
        [style.margin.px]="margemImagem">
      </td>
      <th class="text-center" scope="row">{{evento.eventoId}}</th>



      <td class="text-center">{{evento.tema}}</td>
      <td class="text-center">{{evento.local}}</td>
      <td class="text-center">{{evento.dataEvento}}</td>
      <td class="text-center">{{evento.qtdPessoas}}</td>
      <td class="text-center">{{evento.lote}}</td>
      <td>
        <button type="button" class="btn btn-primary btn-sm" style="margin-right: 2%;">Editar</button>
        <button type="button" class="btn btn-danger btn-sm mr-2">Excluir</button>
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="!eventos.length">
    <tr>
      <td colspan="8" class="text-center">
        <h4>Nenhum evento encontrado!</h4>

      </td>
    </tr>
  </tfoot>


</table>
